<!DOCTYPE html>
<html>
<head>
	<title>Labas Spring web</title>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="Grafikas.js"></script>
	<script>
	
		$( document ).ready ( function() {
	
			$.ajax({
		 		 url: '/kreives-taskai'
		 
			}).done( function( data ) {
				
				// alert ( "gauti duomenys: " + data );
				/*
				for ( i = 0; i < data.length; i++ ) {
				
					if ( data [ i ] != null ) {
				
						console.log ( "x: " + data [ i ].x  + " y: " + data [ i ].y + " z: " + data [ i ].z );
					}
				}
				*/
				
				console.log ( JSON.stringify ( data ) );
				
				Grafikas ( 'kreives_grafikas', data.taskai, 'x', 'y' );
		  	});	
		});
	
	</script>
	<style>
		#forma {
			 width: 90%;
			 margin: 10px auto;
		}
		label {
			display: block;
		}
		input, label {
			width: 90%;
			margin: 10px auto;
		}
		.skaicius {
		
			color: green;
		}
		.klaida {
		
			color: red;
		}
	</style>
</head>
<body>
	Labas Spring web
	<table>
		<tr>
			<th>
				x
			</th>
			<th>
				y
			</th>			
			<th>
				z
			</th>
		</tr>
		<tr th:each="taskas : ${kreive.getTaskai()}">
			<td th:text="${taskas.getX()}"></td>
			<td th:text="${taskas.getY()}"></td>
			<td th:text="${taskas.getZ()}"></td>			
		</tr>
	</table>
	<div>
	Kreivės ilgis: <span class="skaicius" th:text="${kreive.ilgis()}"></span>
	
	Taško koordinatės:<br>
	x: <span class="skaicius" th:text="${taskas.getX()}"></span>
	y: <span class="skaicius" th:text="${taskas.getY()}"></span>
	z: <span class="skaicius" th:text="${taskas.getZ()}"></span>			
	</div>
	<div id="forma">
		<h3>Taško įvedimas</h3>
		<span class="klaida" th:text="${err_msg}"></span>
		<form method="POST" action="">
			<label for="x">x</label>
			<input name="x" type="text">
			<label for="y">y</label>
			<input name="y" type="text">	
			<label for="z">z</label>
			<input name="z" type="text">
			<input type="submit" name="rasti_atstuma" class="frm_button" value="skaiciuoti">
		</form>
	</div>	
	<canvas id="kreives_grafikas"  width="900" height="500">
	</canvas>	
</body>
</html>