<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "mainspring" class = "ernadas_kreive.KreivesIlgis" scope = "singleton">
		<constructor-arg index="0" ref="kreive_is_failo_xxyy" />   
   </bean>  
   <bean id = "kreive_is_failo_xyxy" class = "plokstuma.KreiveIsFailoXYXY" scope = "singleton">
		<constructor-arg index="0" value="kreives_taskai2.csv" />   
   </bean> 
   <bean id = "kreive_is_failo_xxyy" class = "plokstuma.KreiveIsFailoXXYY" scope = "singleton">
		<constructor-arg index="0" value="kreives_taskai.csv" />     
   </bean>         
</beans>